<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      function Parent(name, age) {
        this.name = name;
        this.age = age;
        console.log(this);
        console.log(this.name, this.age);
      }
      function Children(name, age, height) {
        Parent.apply(this, [name, age, height]);

        this.height = height;
      }
      let lisi = new Children("李四", 12, 170);
      console.log(lisi.name, lisi.age, lisi.height);
    </script>
  </body>
</html>
